<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form name = "frm" id="frm" method = "post" action="memberPasswordPro">{% csrf_token %}
<table width = 600 align = "center" border = 1 >
	<tr><th><label for="id_USER_PW">사용자 비밀번호:</label></th><td><input type="password" name="USER_PW" maxlength="100" required id="id_USER_PW"></td></tr>
 	<tr>
		<td colspan = 2>
			{% if error %}
				<h3 style="color:red">{{error}}</h3>
			{% endif %}
 		</td>
	</tr>
<tr><td colspan=2><input type="submit" value="확인" /></td></tr>
</table>
</form>
</body>
</html>